.root {
    -fx-border-style: solid;
    -fx-border-width: 0.6;
    -fx-border-color: black;
    -fx-border-radius: 25;
}
.addRoomButton {
    -fx-background-color: #3265ff;
    -fx-background-radius: 25;
}
.cancelButton {
    -fx-background-color: #FF3232;
    -fx-background-radius: 25;
}
.nameField {
    -fx-background-color: #00000025;
    -fx-background-radius: 25;
    -fx-text-fill: #a9a9a9;
}