.root {
    -fx-border-style: solid;
    -fx-border-width: 0.6;
    -fx-border-color: black;
    -fx-border-radius: 25;
}
.confirmButton {
    -fx-background-color: #3265ff;
    -fx-background-radius: 25;
}
.confirmButton {
    -fx-background-color: #4173e0;
}
.headerLabel {
    -fx-text-fill: #6C62FF;
}
.mainLabel {
    -fx-text-fill: #a8a8a8;
}