.root {
    -fx-background-color: #222222;
    -fx-background-radius: 25;
}
.closeButton {
    -fx-image: url("../resources/closeIcon.png");
}
.closeButton:hover {
    -fx-image: url("../resources/closeIconHover.png");
}
.minimizeButton {
    -fx-image: url("../resources/minimizeIcon.png");
}
.minimizeButton:hover {
    -fx-image: url("../resources/minimizeIconHover.png");
}
.hamburgerButton {
    -fx-background-color: transparent;
    -fx-background-image: url("../resources/hamburgerIcon.png");
    -fx-background-size: 32px 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.hamburgerButton:hover {
    -fx-background-image: url("../resources/hamburgerIconHover.png");
}
.leftPane {
    -fx-background-color: rgba(51, 51, 51, 0.6);
    -fx-background-radius: 0 25 25 0;
}