.root {
    -fx-background-color: #222222;
    -fx-background-radius: 25;
}
.closeButton {
    -fx-image: url("../resources/closeIcon.png");
}
.closeButton:hover {
    -fx-image: url("../resources/closeIconHover.png");
}
.minimizeButton {
    -fx-image: url("../resources/minimizeIcon.png");
}
.minimizeButton:hover {
    -fx-image: url("../resources/minimizeIconHover.png");
}