.table-view {
    -fx-background-color: linear-gradient(to bottom right, #FF7F50, #6A5ACD);
    -fx-background-radius: 25;
}
.table-view:focused {
}
.table-cell {
    -fx-alignment: center;
}
.scroll-bar {
    -fx-background-color: transparent;
    -fx-padding: 10 10 10 10;
}
.increment-button:hover, .decrement-button:hover {
    -fx-background-color: #a9a9a9;
}
.thumb {
    -fx-background-color: #DC5BFF;
}
.table-row-cell {
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-text-background-color: #323232;
}
.table-row-cell:selected {
    -fx-text-background-color: #FFFEFF;
}
.column-header-background {
    -fx-background-color: transparent;
    -fx-background-radius: 25;
    -fx-background-insets: 0 0 10 0;
}
.column-header, .filler, .corner, .track, .track-background {
    -fx-background-color: transparent;
}
.addRoomButton {
    -fx-background-color: #3265ff;
    -fx-background-radius: 25;
}
.logoutButton {
    -fx-background-color: #FF3232;
    -fx-background-radius: 25;
}
.helloLabel {
    -fx-text-fill: #a9a9a9;
}